@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes whitepaper-bounce {

  0%,
  100% {
    transform: translateY(-50%);
    /* animation-timing-function: cubic-bezier(0.8,0,1,1); */
  }

  50% {

    transform: translateY(-40%);
    ;
    /* animation-timing-function: cubic-bezier(0,0,0.2,1); */
  }
}

@font-face {
  font-family: Anime Ace;
  src: url('../../public/assets/fonts/anime-ace/animeace.ttf');
}

@font-face {
  font-family: Skranji;
  src: url('../../public/assets/fonts/skranji/skranji-regular.ttf');
}

@font-face {
  font-family: Oi;
  src: url('../../public/assets/fonts/oi/Oi-Regular.ttf');
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e6e6e6;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #696969;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c0c0c0;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  overflow-anchor: auto;
}

.animate-whitepaper-bounce {
  animation: whitepaper-bounce 3s infinite;
}

.text-shadow-sm-gray {
  text-shadow: 5px 5px #558ABB;
}

.text-shadow-sm-red {
  text-shadow: 2px 2px #ee6161;
}

.overflow-y-scroll::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.text-shadow-animation {
  text-shadow: 0 0 0 rgb(226, 153, 57);
  animation: loading 2s ease-in-out infinite alternate;
}

.text-stroke {
  -webkit-text-stroke-color: #333333;
  -webkit-text-stroke-width: 1.5px;

  font-weight: bolder;
}


@keyframes bounce-twice {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.7);
  }

  70% {
    transform: scale(1.7);
  }

  100% {
    transform: scale(1);
  }
}

.animate-bounce-twice {
  animation: bounce-twice 2s ease-in-out 2;
}

.home {
  background-image: url("../../public/assets/images/backgrounds/home.jpg") !important;
  background-size: 100% 100%;
}

.howPlay {
  background-image: url("../../public/assets/images/backgrounds/howPlay.png") !important;
  background-size: cover;
}

.waterpaper {
  background-image: url("../../public/assets/images/backgrounds/whitepaper.jpg") !important;
  background-size: 100% 100%;
}

.gemdescription {
  background-image: url("../../public/assets/images/backgrounds/gemdescription.png") !important;
  background-size: 100% 100%;
}

.howEarn {
  background-image: url("../../public/assets/images/backgrounds/howEarn.jpg") !important;
  background-size: 100% 100%;
}

.contact {
  background-image: url("../../public/assets/images/backgrounds/contact.png") !important;
  background-size: 100% 100%;
}

.wallet-connect {
  background-image: url("../../public/assets/images/wallet-bg.png");
  background-size: 100% 100%;
}


.presale-bg {
  background-image: url("../../public/assets/images/backgrounds/presale-bg.jpg") !important;
  background-size: 100% 100%;
  min-height: 800px;
}

.main-bg {
  background-image: url("../../public/assets/images/main-bg.png") !important;
  background-size: 100% 100%;
}

.center-bg {
  background-image: url("../../public/assets/images/main-center.png") !important;
  background-size: 100% 100%;
}

.center-bg-blur {
  background-image: url("../../public/assets/images/center-bg-blur.png") !important;
  background-size: 100% 100%;
}

.ref-btn {
  background-image: url("../../public/assets/images/referral-btn.png") !important;
  background-size: 100% 100%;
}

.green-btn {
  background-image: url("../../public/assets/images/green-btn.png") !important;
  background-size: 100% 100%;
}

.inactive-btn {
  background-image: url("../../public/assets/images/presale-in-btn.png") !important;
  background-size: 100% 100%;
}

.cryptoIcon {
  background-image: url("../../public/assets/images/cryptoIcon.png") !important;
  background-size: 100% 100%;
}

.progress-bg {
  background-image: url("../../public/assets/images/progress-bg.png") !important;
  background-size: 100% 100%;
}

.chart-bg {
  background-image: url("../../public/assets/images/chart-bg.png") !important;
  background-size: 100% 100%;
}

.text-bg {
  background-image: url("../../public/assets/images/text-bg.png") !important;
  background-size: 100% 100%;
}

.btn-bg {
  background-image: url("../../public/assets/images/button.png") !important;
  background-size: 100% 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  font-size: 5px;
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
  margin: 0 15px;
}

@keyframes mulShdSpin {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #030303, 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.5), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.7), 1.8em -1.8em 0 0em #000000, 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.5), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.5), 2.5em 0em 0 0em rgba(0, 0, 0, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.5), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.5), 0em 2.5em 0 0em rgba(0, 0, 0, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(0, 0, 0, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.5), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.5), -2.6em 0em 0 0em rgba(0, 0, 0, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}


.play-btn {
  background: radial-gradient(rgba(16, 187, 38, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 0px 25px 3px rgba(20, 252, 51, 0.8);
}

/* pulse wave */
.play-btn:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border: 5px solid rgba(19, 253, 50, 0.75);
  border-radius: 50%;
  /* top: -30%; */
  left: -25%;
  background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}

.text-gradient-shadow-stroke {
  background: -webkit-linear-gradient(left, rgb(255 218 102), rgb(255, 155, 0));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 10px black);
  -webkit-text-stroke: 3px black;
}

@media screen and (max-width: 1024px) {
  .text-gradient-shadow-stroke {
    filter: drop-shadow(0 5px black);
    -webkit-text-stroke: 0.3px black;
  }
}

.text-gradient-shadow-stroke-middle {
  background: -webkit-linear-gradient(left, rgb(255 218 102), rgb(255 170 38));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 5px black);
  -webkit-text-stroke: 0.3px black;
}

.percent-text {
  background: -webkit-linear-gradient(left, rgb(255 218 102), rgb(255, 155, 0));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info-bg {
  background-image: url("../../public/assets/images/backgrounds/htp_bg.jpg") !important;
  background-size: cover;
  background-position: center;
}

.numPresent {
  background: linear-gradient(94.42deg, rgba(255, 255, 255, 0.1035) 1.32%, rgba(255, 255, 255, 0.09) 100.74%);
  background-blend-mode: soft-light, normal;
  box-shadow: 0px 10px 50px rgba(53, 8, 8, 0.2), inset 0px -10px 30px rgba(39, 6, 6, 0.1), inset 0px 10px 30px rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  border-radius: 15px;
}

.background-position-center {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  max-width: none;
}

.background-position-center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  max-width: none;
}